/* Add the button to the top right corner of the screen */
#chatgpt-keeper-button-container {
    position: fixed;
    top: 20px;
    right: 20px;
}

#chatgpt-keeper-save-chat-button {
  background-color: #10a37f;
  color: white;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  min-width: max-content;
}

#chatgpt-keeper-save-chat-button:hover {
  transition-duration: 80ms;
  background-color: #32c59f;
}

#chatgpt-keeper-save-chat-button:active {
  transition-duration: 80ms;
  background-color: #00926e;
}
